.blog-viewer {
  --spacing: 2rem;
}
@media (min-width: 1024px) {
  .blog-viewer {
    --spacing: 3rem;
  }
}
.gh-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 860px;
  color: hsla(0, 0%, 100%, 0.8);
}
.gh-content canvas,
.gh-content img,
.gh-content picture,
.gh-content svg,
.gh-content video {
  display: block;
  height: auto;
  max-width: 100%;
}
.gh-content iframe {
  display: block;
}
.gh-content button,
.gh-content input,
.gh-content select,
.gh-content textarea {
  font: inherit;
}
.gh-content h1,
.gh-content h2,
.gh-content h3,
.gh-content h4,
.gh-content h5,
.gh-content h6,
.gh-content p {
  overflow-wrap: break-word;
}
.gh-content h2 {
  font-size: 1.25rem;
}
@media (min-width: 1024px) {
  .gh-content h2 {
    font-size: 1.875rem;
  }
}
.gh-content a {
  color: #5eed87;
  opacity: 0.8;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  transition: opacity 0.3s ease-in-out;
}
.gh-content a:hover {
  opacity: 1;
}
.gh-content blockquote:not([class]) {
  position: relative;
  padding-left: 1.6rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.01em;
}
.gh-content blockquote:not([class]):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-image: linear-gradient(90deg, #f6f655, #5eed87);
}
.gh-content figcaption {
  margin-top: 12px;
  font-size: 1.4rem;
  text-align: center;
}
.gh-content > * + * {
  margin-top: 20px;
  margin-bottom: 0;
}
.gh-content
  > .kg-width-full
  + .kg-width-full:not(.kg-width-full.kg-card-hascaption + .kg-width-full) {
  margin-top: 0;
}
.gh-content > [id]:not(:first-child) {
  margin-top: calc(56px * var(--content-spacing-factor, 1));
}
.post-template .gh-content.drop-cap > p:first-of-type:first-letter {
  font-size: 3.1em;
  float: left;
  line-height: 1;
  margin: 0 0.2em 0 -1px;
  font-weight: 700;
}
.has-serif-body.post-template:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content.drop-cap
  > p:first-of-type:first-letter {
  font-size: 3.2em;
}
.gh-content > [id] + p {
  margin-top: var(--spacing);
}
.gh-content > :is(hr, blockquote, iframe) {
  position: relative;
  margin-top: var(--spacing) !important;
}
.gh-content > :is(hr, blockquote, iframe) + * {
  margin-top: var(--spacing) !important;
}
.gh-content .kg-callout-card .kg-callout-text,
.gh-content .kg-toggle-card .kg-toggle-content > :is(ul, ol, p) {
  font-size: 0.95em;
}
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  .kg-callout-text,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  .kg-toggle-content
  > ol,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  .kg-toggle-content
  > p,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  .kg-toggle-content
  > ul,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  > blockquote,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  > dl,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  > ol,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  > p,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .gh-content
  > ul {
  font-family: var(--font-serif-alt);
}
.gh-content :is(ul, ol) {
  padding-left: 28px;
}
.gh-content :is(li + li, li :is(ul, ol)) {
  margin-top: 8px;
}
.gh-content ol ol li {
  list-style-type: lower-alpha;
}
.gh-content ol ol ol li {
  list-style-type: lower-roman;
}
.gh-content hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  border: 0;
}
.gh-content .gh-table {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.gh-content .gh-table table {
  width: 100%;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  white-space: nowrap;
  vertical-align: top;
  border-spacing: 0;
  border-collapse: collapse;
}
.gh-content .gh-table table th {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-darkgrey);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.gh-content .gh-table table :is(th, td),
.gh-content .gh-table table td {
  padding: 6px 12px;
  border-bottom: 1px solid var(--color-border);
}
.gh-content .gh-table table :is(th, td):first-child {
  padding-left: 0;
}
.gh-content .gh-table table :is(th, td):last-child {
  padding-right: 0;
}
.gh-content pre {
  overflow: auto;
  padding: 16px;
  font-size: 1.5rem;
  line-height: 1.5em;
  border-radius: 6px;
}
.gh-content :not(pre) > code,
.gh-content pre {
  background: var(--color-lighter-gray);
  font-family: var(--font-mono);
}
.gh-content :not(pre) > code {
  vertical-align: baseline;
  padding: 0.15em 0.4em;
  font-weight: 400;
  font-size: 0.95em;
  line-height: 1em;
  border-radius: 0.25em;
}
.gh-content :not(.kg-card):not(table):not([id]) + :is(.kg-card, table) {
  margin-top: calc(48px * var(--content-spacing-factor, 1));
}
.gh-content :is(.kg-card, table) + :not(.kg-card):not(table):not([id]) {
  margin-top: calc(48px * var(--content-spacing-factor, 1));
}
.gh-content .kg-card.kg-width-full + :not(.kg-card):not([id]),
.gh-content :not(.kg-card):not([id]) + .kg-card.kg-width-full {
  margin-top: calc(68px * var(--content-spacing-factor, 1));
}
.kg-image {
  margin-right: auto;
  margin-left: auto;
}
.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.kg-gallery-image,
.kg-image[width][height] {
  cursor: pointer;
}
.kg-gallery-image a:hover,
.kg-image-card a:hover {
  opacity: 1 !important;
}
.kg-card.kg-toggle-card .kg-toggle-heading-text {
  font-size: 2rem;
  font-weight: 700;
}
.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"])
  .kg-toggle-card
  .kg-toggle-heading-text {
  font-family: var(--font-serif);
}
.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"])
  .kg-toggle-card
  .kg-toggle-heading-text {
  font-family: var(--font-mono);
}
.kg-callout-card.kg-card {
  border-radius: 0.25em;
}
.kg-callout-card-accent a {
  text-decoration: underline;
}
.kg-card.kg-button-card .kg-btn {
  height: unset;
  padding: 0.6em 1.2em;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
}
.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"])
  .kg-card.kg-header-card
  h2.kg-header-card-header {
  font-family: var(--font-serif);
}
.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"])
  .kg-card.kg-header-card
  h2.kg-header-card-header {
  font-family: var(--font-mono);
}
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .kg-header-card
  h3.kg-header-card-subheader {
  font-family: var(--font-serif);
}
.kg-bookmark-card .kg-bookmark-container {
  border-radius: 0.25em !important;
}
.kg-bookmark-card .kg-bookmark-container:hover {
  opacity: 1;
}
.kg-bookmark-card a.kg-bookmark-container,
.kg-bookmark-card a.kg-bookmark-container:hover {
  background: var(--background-color) !important;
  color: var(--color-darker-gray) !important;
}
.kg-bookmark-card .kg-bookmark-content {
  padding: 1.15em;
}
.kg-bookmark-card .kg-bookmark-title {
  font-size: 0.9em;
}
.kg-bookmark-card .kg-bookmark-description {
  max-height: none;
  margin-top: 0.3em;
  font-size: 0.8em;
}
.kg-bookmark-card .kg-bookmark-metadata {
  font-size: 0.8em;
}
.kg-bookmark-card .kg-bookmark-thumbnail img {
  border-radius: 0 0.2em 0.2em 0;
}
.kg-product-card.kg-card .kg-product-card-image {
  margin-bottom: 12px;
}
.kg-product-card.kg-card a.kg-product-card-button {
  height: 2.8em;
  margin-top: 12px;
}
.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"])
  .kg-product-card.kg-card
  .kg-product-card-title {
  font-family: var(--font-serif);
}
.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"])
  .kg-product-card.kg-card
  .kg-product-card-title {
  font-family: var(--font-mono);
}
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"])
  .kg-product-card-description
  :is(p, ul, ol) {
  font-family: var(--font-serif-alt);
}
.kg-file-card.kg-card .kg-file-card-container {
  padding: 0.6em;
}
.kg-file-card.kg-card .kg-file-card-contents {
  margin: 4px 8px 6px;
}
.kg-file-card.kg-card .kg-file-card-metadata {
  font-size: 0.9em;
}
.kg-file-card.kg-card .kg-file-card-filesize:before {
  margin-right: 6px;
  margin-left: 6px;
}
/*# sourceMappingURL=04074782b247baeb.css.map*/
